.mr10 {
    margin-right: 10px;
}

.none {
    display: none;
}

.mt10 {
    margin-top: 10px;
}

.w100 {
    width: 100% !important;
}

.w78 {
    width: 78px;
}

.float-left {
    float: left;
}


.mt-10 {
    margin-top: 10px !important;
}