.border {
    border: solid 2px !important;
    border-color: black !important; 
}

.text-center {
    text-align: center;
}

.w-80 {
    width: 80% !important;
}

.mt-5 {
    margin-top: 10%;
}

a, a:hover {
    color: black;
}

* {
    background-color: #d2d6de;
}

.mr10 {
    margin-right: 10px;
}

.float-center {
    text-align: center;
    margin: 0 auto;
}

.box-max {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-home {
    width: 150px;
    height: 150px;
}

.mt-15{
    margin-top: 10%;
}